

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    width: 100%;
    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;

    color: white;

    background:
        radial-gradient(
            circle at 85% 50%,
            #0a304d 0%,
            #061f36 30%,
            #03172a 60%,
            #021321 100%
        );

    overflow-x: hidden;
}


/* =====================================================
 container
===================================================== */

.container {

    width: 100%;
    min-height: 100vh;

    padding: 28px 4.5%;

    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}

@media (max-width: 768px) {
       .container {
        flex-direction: column;
        padding: 20px;
        text-align: center;

       }
      }

/* =====================================================
   logo pra ficar mais minha cara
===================================================== */

.logo {

    display: flex;

    align-items: center;

    gap: 12px;
}


.logo span {
    font-size: 27px;
}


.logo h2 {

    font-size: 24px;

    font-weight: 700;
}


/* =====================================================
   hero que e a secao da pagina 
===================================================== */

.hero {

    flex: 1;

    width: 100%;

    max-width: 1400px;

    margin: 0 auto;

    display: grid;

    grid-template-columns: 1.15fr 0.85fr;

    align-items: center;

    gap: 70px;
}


/* =====================================================
   lado esquerdo
===================================================== */

.hero-text {

    max-width: 720px;
}


/* =====================================================
   tag do bagulho que nao lembro o nome
===================================================== */

.tag {

    color: #1caeff;

    font-size: 14px;

    font-weight: bold;

    letter-spacing: 2px;

    margin-bottom: 25px;
}


/* =====================================================
   titulo pra ficar mais bonitin
===================================================== */

.hero-text h1 {

    font-size: clamp(55px, 5.4vw, 76px);

    line-height: 0.98;

    letter-spacing: -3px;

    margin-bottom: 30px;
}


.hero-text h1 span {
    color: #16a9ff;
}


/* =====================================================
   Descricao
===================================================== */

.hero-text > p {

    color: #9dbbd2;

    font-size: 17px;

    line-height: 1.75;

    max-width: 650px;

    margin-bottom: 32px;
}


/* =====================================================
   campo de pesquisa
===================================================== */

.search-box {

    width: 100%;

    height: 63px;

    padding: 6px;

    display: flex;

    align-items: center;

    background: rgba(255, 255, 255, 0.07);

    border: 1px solid rgba(155, 202, 230, 0.22);

    border-radius: 16px;

    transition: 0.3s;
}


.search-box:focus-within {

    border-color: #16a9ff;

    box-shadow:
        0 0 20px rgba(22, 169, 255, 0.12);
}


/* Ícone de pesquisa */

.search-icon {

    width: 50px;

    display: flex;

    justify-content: center;
    align-items: center;

    font-size: 38px;

    color: #a68cff;

    transform: rotate(-20deg);
}


/* Input */

.search-box input {

    flex: 1;

    height: 100%;

    border: none;

    outline: none;

    background: transparent;

    color: white;

    font-size: 16px;
}


.search-box input::placeholder {
    color: #7895aa;
}


/* =====================================================
   botao pra buscar
===================================================== */

.search-box button {

    height: 44px;

    padding: 0 28px;

    border: none;

    border-radius: 13px;

    background: #119fe8;

    color: white;

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


.search-box button:hover {

    background: #20b1fa;

    transform: translateY(-2px);
}


.search-box button:active {
    transform: scale(0.97);
}


/* =====================================================
   sugestoes 
===================================================== */

#sugestoes {

    position: relative;

    z-index: 10;
}


.sugestao {

    padding: 13px 20px;

    background: #0b2941;

    border: 1px solid rgba(255, 255, 255, 0.08);

    color: white;

    cursor: pointer;

    transition: 0.2s;
}


.sugestao:hover {
    background: #12415f;
}


/* =====================================================
   localizacao do bagulho pra ficar legal
===================================================== */

.location-btn {

    margin-top: 17px;

    padding: 0;

    border: none;

    background: transparent;

    color: #0da8f7;

    font-size: 15px;

    cursor: pointer;
}


.location-btn:hover {
    color: #59c9ff;
}


/* =====================================================
   mensagem de erro fessor ja que ninguem e perfeito
===================================================== */

#mensagem {

    margin-top: 15px;

    min-height: 20px;

    color: #ff4b72;

    font-size: 14px;
}


/* =====================================================
   card do clima 
===================================================== */

.weather-card {

    width: 100%;

    max-width: 430px;

    min-height: 438px;

    justify-self: end;

    padding: 37px 32px;

    border-radius: 30px;

    background:
        linear-gradient(
            145deg,
            rgba(30, 75, 106, 0.65),
            rgba(7, 35, 56, 0.75)
        );

    border: 1px solid rgba(145, 205, 239, 0.28);

    backdrop-filter: blur(15px);

    box-shadow:
        0 25px 60px rgba(0, 0, 0, 0.22);
}


/* =====================================================
   cabecalho do card que fica na parte de cima fessor
===================================================== */

.weather-header {

    display: flex;

    align-items: flex-start;

    justify-content: space-between;

    margin-bottom: 45px;
}


.weather-header > div:first-child > span {

    display: block;

    color: #8faabd;

    font-size: 13px;

    margin-bottom: 7px;
}


.weather-header h2 {

    font-size: 27px;

    margin-bottom: 6px;
}


.weather-header p {

    color: #9db8ca;

    font-size: 14px;
}


/* =====================================================
   icone do bagulho
===================================================== */

.weather-icon {

    font-size: 53px;

    line-height: 1;

    filter:
        drop-shadow(
            0 5px 10px rgba(255, 190, 0, 0.2)
        );
}


/* =====================================================
   teperatura do negocio
===================================================== */

.temperature-area {

    display: flex;

    align-items: center;

    gap: 19px;

    margin-bottom: 45px;
}


.temperature {

    font-size: 64px;

    font-weight: bold;

    line-height: 1;
}


.weather-description {

    display: flex;

    flex-direction: column;

    gap: 8px;
}


.weather-description strong {
    font-size: 17px;
}


.weather-description span {

    color: #9ab4c7;

    font-size: 14px;
}


.weather-description b {
    font-weight: normal;
}


/* =====================================================
  informacoes pra ficar mior fessor
===================================================== */

.weather-info {

    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
}


.info-box {

    min-height: 103px;

    padding: 13px 8px;

    border-radius: 15px;

    background: rgba(255, 255, 255, 0.08);

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 6px;
}


.info-icon {
    font-size: 27px;
}


.info-box span {

    color: #9bb3c4;

    font-size: 14px;
}


.info-box strong {
    font-size: 14px;
}


/* =====================================================
   atualizacao do bagulho
==================================================== */

.updated {

    text-align: center;

    color: #6f8ca0;

    font-size: 12px;

    margin-top: 22px;
}


/* =====================================================
   responsividade e oque que deixa bonitin pra todos os tamanho de tela
===================================================== */

@media (max-width: 1050px) {

    .hero {

        grid-template-columns: 1fr;

        gap: 50px;

        padding: 60px 0;
    }


    .weather-card {

        justify-self: start;

        max-width: 600px;
    }
}


@media (max-width: 600px) {

    .container {
        padding: 22px 18px;
    }

    .logo {
        justify-content: center;
    }

    .logo h2 {
        font-size: 21px;
    }

    .logo span {
        font-size: 24px;
    }

    .hero {
        padding: 40px 0;
        gap: 35px;
    }

    .hero-text {
        width: 100%;
    }

    .hero-text h1 {
        font-size: 42px;
        letter-spacing: -2px;
        line-height: 1;
    }

    .hero-text > p {
        font-size: 15px;
        line-height: 1.6;
    }

    /* 🔎 Pesquisa no celular */

    .search-box {
        width: 100%;
        height: auto;
        min-height: 63px;
        padding: 6px;
        flex-wrap: wrap;
        gap: 6px;
    }

    .search-icon {
        width: 40px;
        font-size: 30px;
    }

    .search-box input {
        min-width: 0;
        flex: 1;
        height: 50px;
        font-size: 15px;
    }

    .search-box button {
        height: 50px;
        padding: 0 18px;
        border-radius: 12px;
        font-size: 14px;
    }

    /* 📍 Botão de localização */

    .location-btn {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    /* 🌦️ Card do clima */

    .weather-card {
        width: 100%;
        max-width: 100%;
        padding: 25px 18px;
        border-radius: 22px;
    }

    .weather-header {
        margin-bottom: 35px;
    }

    .weather-header h2 {
        font-size: 23px;
    }

    .weather-icon {
        font-size: 43px;
    }

    /* 🌡️ Temperatura */

    .temperature-area {
        gap: 12px;
        margin-bottom: 35px;
    }

    .temperature {
        font-size: 48px;
    }

    .weather-description strong {
        font-size: 15px;
    }

    .weather-description span {
        font-size: 13px;
    }

    /* 📊 Informações */

    .weather-info {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
    }

    .info-box {
        min-height: 90px;
        padding: 10px 4px;
        border-radius: 12px;
    }

    .info-icon {
        font-size: 23px;
    }

    .info-box span {
        font-size: 12px;
    }

    .info-box strong {
        font-size: 12px;
    }

    .updated {
        font-size: 11px;
        margin-top: 18px;
    }
}

/* celular*/
@media (max-width: 768px) {

    header {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    nav {
        flex-direction: column;
        gap: 10px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 0;
    }

    .hero img {
        max-width: 90%;
        margin-top: 30px;
    }
}

/* celulares pequenos */
@media (max-width: 480px) {

    .container {
        width: 92%;
    }

    h1 {
        font-size: 28px;
    }

    p {
        font-size: 16px;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .search-box {
        flex-direction: column;
        align-items: stretch;
        padding: 8px;
    }

    .search-icon {
        display: none;
    }

    .search-box input {
        width: 100%;
        height: 48px;
    }

    .search-box button {
        width: 100%;
        height: 48px;
    }
}
